@{
    ViewBag.Title = "AddQuestion";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div ng-controller="AddQuestionController">
    <h1 class="page-header">Add question</h1>
    <h2 class="sub-header">Question</h2>
    <form name="questionForm">
        <div class="form-group">
            <label for="questionText">Text</label>
            <textarea class="form-control" id="questionText" placeholder="Enter question text" ng-model="question.Text" required></textarea>
        </div>
        <div class="form-group">
            <label for="questionTags">Tags</label>
            <input type="text" class="form-control" id="questionTags" placeholder="Tags" ng-model="question.Tags" required />
        </div>
        <h2 class="sub-header">Answers <span class="glyphicon glyphicon-plus" ng-click="addAnswer()"></span></h2>
        <div ng-repeat="answer in question.answers">
            <div class="panel panel-default">
                <div class="panel-body">
                    <textarea class="form-control" rows="2" placeholder="Enter answer text" ng-model="answer.text" required></textarea>
                </div>
                <div class="panel-footer">
                     <button type="button" class="btn btn-danger" ng-click="deleteAnswer($index)">Remove</button>
                     <span>Is correct: <input type="checkbox" ng-model="answer.isCorrect"/></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-success pull-right" ng-click="addQuestion(question)" ng-show="questionForm.$valid">Save question</button>
        </div>
    </form>
</div>