@{
    ViewBag.Title = "AddTestExport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div ng-controller="AddTestExportController">
    <h1 class="page-header">Add test export</h1>
    <a class="btn btn-success" ng-show="link" href="{{link.VirtualPath}}">Download</a>
    <form name="testExportForm">
        <div class="form-group">
            <label for="tests">Text</label>
            <select class="form-control" id="tests" ng-options="test.Id as test.Name for test in tests" ng-model="testExport.testId" required></select>
        </div>
        <div class="form-group">
            <label for="variants">Count of variants</label>
            <input type="number" class="form-control" id="variants" placeholder="Count of variants" ng-model="testExport.NumberOfVariants" required />
        </div>
        <div class="form-group">
            <input type="button" value="Save test export" class="btn btn-success pull-right" ng-click="addTestExport(testExport)" ng-show="testExportForm.$valid" />
        </div>
    </form>
</div>
